.test {
a: 
#003f5c
#2f4b7c
#665191
#a05195
#d45087
#f95d6a
#ff7c43
#ffa600
#b82727
#c34312
#c85e00
#c67900
#be9400
#afae00
#97c700
#70e000

#570000
#6e1d1b
#863531
#9d4c48
#b46461
#cc7c7a
#e39594
#faafaf

#ff0000
#de6900
#b59300
#88af00
#53c355
#00e5ff
#1fc1ff
#8da5ff
#d17ffe
#fe4ec5
#570000
#4f1d00
#422d00
#333800
#224115
#0d482e
#004d44
#005157
#984844
#915736
#846632
#73733b
#607d4f
#4f8667
#438c81
#469098
#faafaf
#f8baa1
#eec69b
#ded49f
#cbe0ae
#b9eac4
#abf2df
#a7f7fa
#6e1d1b
#731f39
#6c2c56
#5b3b6c
#424979
#25547c
#0d5d77
#1a636e
#b46461
#b6687f
#ad719c
#997eb4
#7e8cc2
#6298c6
#4fa2c0
#51aab4
#e39594
#e49ab2
#daa4cf
#c6b0e5
#acbef3
#93caf6
#85d5f0
#88dde3
;
a: ;
a: ;
a: ;
a: ;
a: ;
a: ;
a: ;
a: ;
a: ;
a: ;
a: ;
a: ;
a: ;
a: ;
a: ;
a: ;
a: ;
a: ;
a: ;
a: ;
a: ;
}
